body {
    background-color: #e5e5e5;
    font-family: 'Noto Sans TC', sans-serif;
}

#mNav{
    line-height: 40px;
}

#mNav li .nav-link {
    color: #fff;
    padding: 8px 16px;
}

#mNav .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
    background-color: #999;
    color: #f2f2f2;
}

#mNav .navbar-nav li.active > a {
    background-color: #fff;
    color: #000;
}

#mNav .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #000000;
}

.card {
    padding: 10px;
    margin: 10px auto;
}

#CS_grade_select li .active {
    background-color: #f07e22;
}

#CS_grade_select li :not(.active):not(.disabled), #CS_class_selectG1 li :not(.active):not(.disabled), #CS_class_selectG2 li :not(.active):not(.disabled) {
    color: #000000;
}
