#middle {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

body {
    background-color: #e5e5e5;
    font-family: 'Noto Sans TC', sans-serif;
}